# .NET
[Bb]in/
[Oo]bj/
*.user
*.suo
*.pdb
*.tmp
*.vs/
.vs/
*.log
*.bak
*.resharper
*.dotsettings
*.ncrunch*
*.pid
*.opendb
*.cache

# Vite
/dist/
/node_modules/
.env
.env.*local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.parcel-cache/
.vite/