@import "tailwindcss";

@theme {
  --color-primary: #2563eb; /* blue-600 */
  --color-primary-light: #3b82f6;
  --color-primary-dark: #1e40af;

  --color-secondary: #64748b; /* slate-500 */
  --color-secondary-light: #94a3b8;
  --color-secondary-dark: #334155;

  --color-accent: #f59e0b; /* amber-500 */
}

button,
a {
  cursor: pointer;
}
